<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Document</title>
</head>

<body>

    <div id="data">

        <!-- Titolo, input e bottone per aggiungere nuove task -->
        <div class="add_tasks">
            <img src="http://boolean.careers/images/misc/logo.png" alt="">
            <div class="cont_add">

                <input type="text" v-model="newTasks" placeholder="Nuova task" @keyup.enter="addNewTask">
                <button @click="addNewTask">Aggiungi</button>
                <p class="errore" v-show="errore">Devi aggiungere una nuova task</p>
            </div>
        </div>

        <!-- Contenitore delle Task da Svolgere -->
        <div class="cont_tasks" v-if="tasks.length > 0">

            <h3>
                Task Da Svolgere
            </h3>

            <div class="task" v-for="(task, i) in tasks">

                <p>{{task}}</p>

                <div class="icone">

                    <i class="fas fa-check" @click="taskComplite(i)"></i>

                    <i class="fas fa-times-circle" @click="deleteTask(i)"></i>
                </div>

            </div>

        </div>

        <!-- Non ci sono task da svolgere -->
        <div class="cont_tasks" v-else>

            <h3>
                Task Da Svolgere
            </h3>

            <p>
                Non ci sono più tasks da fare
            </p>
        </div>

        <!-- Contenitore del Cestino -->
        <div class="cont_tasks" v-if="tasksDeleted.length > 0">
            <div class="titolo_delete">

                <h3>
                    Task Eliminate
                </h3>

                <a href="#" @click="deleteAll">(Delete All)</a>
            </div>


            <div class="task" v-for="(taskDeleted, i) in tasksDeleted">

                <p>{{taskDeleted}}</p>

                <div class="icone">

                    <i class="fas fa-trash" @click="elimina(i)"></i>
                </div>

            </div>

        </div>

        <!-- Non ci sono task eliminate -->
        <div class="cont_tasks" v-else>

            <h3>
                Task Eliminate
            </h3>

            <p>
                Non ci sono task eliminate
            </p>
        </div>

        <!-- Contenitore Task Completate -->
        <div class="cont_tasks" v-if="tasksComplete.length > 0">

            <h3>
                Task Completate
            </h3>

            <div class="task" v-for="(taskComplete, i) in tasksComplete">

                <p>{{taskComplete}}</p>

                <div class="icone">

                    <i class="fas fa-undo" @click="ritorna(i)"></i>

                </div>

            </div>

        </div>

        <!-- Non ci sono Task Completate -->
        <div class="cont_tasks" v-else>

            <h3>
                Task Completate
            </h3>

            <p>
                Non ci sono task completate
            </p>
        </div>

    </div>

    <script src="./JS/main.js"></script>
</body>

</html>